@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Noto+Serif&display=swap');
/* collor pallette: https://colorhunt.co/palette/169018 */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  /* font family */
  font-weight: 400;
  color: #333;
  align-items: center;
  justify-content: center;
  height: 100 vh;
  /* background-color: #b0eacd;
  color: #f9fcfb; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif', serif;
}

p {
  font-family: 'DM Sans', sans-serif;
}
/* ELEMENTS */

/* Title */
.title {
  text-align: center;
  margin: 7.5%;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.title h1 {
  margin: 2%;
  font-weight: 300;
  font-size: 1.7rem;
}

.title h3 {
  letter-spacing: 1px;
  margin: 1%;
  font-size: 1.8rem;
  font-weight: 200;
}

/* Table */
.first-block-title {
  margin: 7.5%;
  text-align: center;
}

.servings {
  font-size: 1.5rem;
}

#number-servings {
  width: 30px;
}

.submit {
  margin: 2% 40% 2% 40%;
}

/* TO BE FIXED FOR DESKTOP */
/* Ingredients */
/* .left-side,
.right-side {
  height: 35vh;
  width: 100%;
} */

/* @media screen and (min-width: 768px) {
  .left-side,
  .right-side {
    height: 100vh;
  }
} */
/* ///////////////////////////////////////// */

.ingredients-name {
  white-space: nowrap;
  /* margin: 10% */
  font-size: 1.2rem;
  font-weight: 400;
}

.ingredients-block {
  /* padding-top: 2.5%; */
}

.ingredients-amount {
  font-size: 1rem;
  font-weight: 500;
  /* align-items: center; */
  /* margin-left: 50%%; */
}

/* PREPARATION */

.preparation-title {
  text-align: center;
}

footer {
  text-align: center;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
}
